:root {
  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
}

li {
  list-style: none;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

nav {
  background: transparent;
  top: 0;
  width: 100vw;
  position: absolute;
  z-index: 11;
}

.nav-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
  height: 50px;
}
.nav-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-all {
  display: flex;
  align-items: center;
  width: 380px;
  border-radius: 30px;
  height: 2rem;
  font-size: small;
  background: transparent;
  border: 1px solid #ffffff;
  color: white;
  padding: 5px 15px 5px 15px;
}

.input-all:hover {
  border: 1px solid red;
}
.srch{
  position: absolute;
  right: 41%;
  top: 18px;
}
.login-regis {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.btn-log {
  width: 90px;
  background: transparent;
  color: red;
  font-size: small;
  border: 1px solid red;
  border-radius: 30px;
  cursor: pointer;
}

.btn-log:hover {
  background: transparent;
  color: rgb(255, 129, 129);
  border: 1px solid rgb(255, 129, 129);
}
.btn-reg {
  width: 90px;
  background: red;
  font-size: small;
  color: white;
  border: 1px solid red;
  border-radius: 30px;
  cursor: pointer;
}
.btn-reg:hover {
  background: rgb(255, 129, 129);
  border: 1px solid rgb(255, 129, 129);
}
.search {
  background: transparent;
  border-style: none;
  border: none;
  font-size: small;
  width: 100%;
}
