*{
  text-decoration: none;
}
section{
  margin: 50px 0 50px 0;
}
.movie-popular {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
  
}
.card img {
  width: 100%;
  border-radius: 15px;
  border: none;
  height: 450px;
}
.card{
    border: none;
    text-decoration: none;
}

.btn-genre{
  width: 132px;
  background: transparent;
  color: red;
  font-size: small;
  border: 1px solid red;
  border-radius: 30px;
  cursor: pointer;
}
.btn-genre:hover{
  background: rgb(255, 129, 129);
  border: 1px solid rgb(255, 129, 129);
}
.mySwiper{
  margin-bottom: 40px;
}
.title{
  width: 100%;
  height: 0px;
  bottom: 50px;
  /* box-sizing: border-box; */
  position:absolute; 
  border-radius: 0 0 15px 15px;
  padding: 10px;
  font-size: small;
  background: transparent;
  visibility: hidden;
  opacity: 0;

}

.card:hover .title{
  height: 100px;
  left: 0px;
  color: white;
  background: rgb(27, 27, 27, .5);
  opacity: 1;
  visibility: visible;
  transition: ease-in-out 0.7s;
  cursor: pointer;
}

.title p{
  font-size: 10px;
  margin: 5px 0 0 0;
  color: white;
}
.loader{
margin-bottom: 50px;
opacity: 0.5;
}
.ant-card-meta-title{
  color: white;
  background: transparent;
}