:root {
  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
header {
  /* background-image: url("./header1.jpg"); */
  background-size: cover;
  /* height: 100vh; */
  overflow: hidden;
  margin-bottom: 50px;
}

.caption {
  position: absolute;
  top: 40%;
  right: 0;
  width: 400px;
  height: 100px;
  text-align: left;
  color:#d3d3d3 ;
}
/* .caption h1{
  color: #d3d3d3;
} */
.trailer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  border: none;
  width: 40%;
  height: 40px;
  border-radius: 30px;
  font-size: 15px;
}
.trailer:hover {
  background: red;
}
.mm img {
  height: 100vh;
}
.load{
  text-align: center;
  background: #d3d3d3;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 50vh;
  padding-top: 10%;
  opacity: .5;
  
}
