:root {
    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
  }

  p{
    font-size: 13px;
  }
.cont {
    width: var(--container-width-lg);
    margin: 0 auto;
  }

.poster{
    width: fit-content;
}

.deta img{
  width: 100vw;
  height: 100vh;
}
.detail {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  top: 60%;
  right: auto;
  width: 400px;
  height: 100px;
  text-align: left;
  color: #ffffff;
}
.genre{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.rating{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}